<nav class="navbar navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
    <div class="float-left">
      <a class="navbar-brand" href="/inicio">Sistema de Archivos Web</a>
    </div>
    <div class="float-right">
      <a class="btn btn-outline-success" href="/login" role="button" style="margin-left: 10px;">Login</a>
      <button class="btn btn-outline-btn btn-outline-danger" style="margin-left: 15px;"
        (click)="Salir()">Logout</button>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar"
        aria-controls="offcanvasDarkNavbar" style="margin-left: 20px;">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar"
        aria-labelledby="offcanvasDarkNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Mostrar</h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
            aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link" aria-current="page"
                onclick=" window.open('/reportes','_blank')">Discos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page"
                onclick=" window.open('/reportes','_blank')">Particiones del Disco</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page"
                onclick=" window.open('/reportes','_blank')">Sistema de Archivos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page"
                onclick=" window.open('/reportes','_blank')">Mostrar Contendio Archivos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page"
                onclick=" window.open('https://github.com/AndresPontaza/MIA_D_LABORATORIO_S1_2024','_blank')">Repositorio de Github Andres Pontaza</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
